<ngx-spinner></ngx-spinner>
<div class="container" *ngIf="!showQuestionDetails">
    <div class="align-content-center">
        <div class="row">
            <h1>Question: {{surveyDetail?.description}}</h1>
        </div>
        <div class="row">
            <h4>Remaining percentage: {{remainingPercentage | percent}}</h4>
        </div>
    </div>
    <div class="card my-3" *ngFor="let issue of surveyDetail?.issues">
        <div class="card-body">
            <h5 class="card-title">{{issue.issue}}</h5>
            <div class="row my-2 form-row border border-primary p-3" *ngFor="let category of issue.categoryQuestion">
                <div class="col-12 col-sm-12 col-md-6">
                    <p class="card-text">{{category.title}}</p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-end">
                    <div class="form-check form-check-inline d-inline-block" *ngFor="let item of [].constructor(10); let i = index" (click)="clickedRatingCategory(category, i+1)">
                        <label class="form-check-label align-bottom d-block" >{{i+1}}</label>
                        <input class="form-check-input" type="radio" name="ratingLevel_{{category.id}}" id="{{category.id}}" autocomplete="off" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right my-5">
        <button type="submit" class="btn btn-primary" [disabled]="disableNextButton" (click)="nextToImportantSections()">Next</button>
    </div>
</div>
<div class="container" *ngIf="showQuestionDetails && !finished">
    <div class="align-content-center">
        <div class="row">
            <h1>Question: Please identify the <strong>importance</strong> of the following issues related to:</h1>
        </div>
        <div class="row">
            <h4>Scale -1 (not important) to 10 (very important)</h4>
        </div>
    </div>
    <div class="card my-3" *ngFor="let issue of surveyDetail?.issues">
        <div class="card-body">
            <h4 class="card-title">{{issue.issue}}</h4>
            <div class="my-5" *ngFor="let category of issue.categoryQuestion">
                <h4>Category: {{category.title}}</h4>
                <div class="row my-5" *ngFor="let question of category.questions; let index = index">
                    <div class="col-12">
                        <p class="card-text">{{index + 1}}. {{question.question}}</p>
                    </div>
                    <div class="col-12">
                        <div class="form-check form-check-inline d-inline-block" *ngFor="let item of [].constructor(10); let i = index" (click)="clickedRatingQuestion(question, i+1)">
                            <label class="form-check-label align-bottom d-block" >{{i+1}}</label>
                            <input class="form-check-input" type="radio" name="ratingLevel_{{question.id}}" id="{{question.id}}" autocomplete="off" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right my-5">
        <button type="submit" class="btn btn-primary" [disabled]="disableSubmitButton" (click)="finishSurvey()">Finish</button>
    </div>
</div>
<div class="container" *ngIf="finished">
    <div class="text-center">
        <h1>Thank for your time</h1>
    </div>
</div>
