<div class="container align-items-center px-lg-5 p-5">
  <button type="button" class="btn btn-lg btn-secondary btn-block" id="#">X</button>
  <button type="button" class="btn btn-lg btn-secondary btn-block" id="dataManagementBtn" routerLink="/data-management">Data Management</button>
  <button type="button" class="btn btn-lg btn-secondary btn-block" id="#">X</button>
</div>

