<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="stakeholderForm" novalidate>
        <div *ngIf="stakeholder">
            <div class="form-group">
                <label>Name</label>
                <input  class="form-control" [(ngModel)]="stakeholder.name" [ngModelOptions]="{standalone: true}" (ngModelChange)= "changeValue()">
                <small *ngIf="stakeholderForm.get('name').hasError('required')" class="form-text text-danger">Name is required.</small>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input  class="form-control" [(ngModel)]="stakeholder.email" [ngModelOptions]="{standalone: true}" (ngModelChange)= "changeValue()">
                <small *ngIf="stakeholderForm.get('email').hasError('required')" class="form-text text-danger">Email is required.</small>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input  class="form-control" [(ngModel)]="stakeholder.phone" [ngModelOptions]="{standalone: true}" (ngModelChange)= "changeValue()">
            </div>
            <div class="form-group">
                <label>Group</label>
                <select class="custom-select form-group" [(ngModel)]="stakeholder.group" [ngModelOptions]="{standalone: true}"
                        [compareWith]="compareObjects" name="group" (ngModelChange)= "changeValue()" >
                    <option disabled selected [ngValue]="null">Please select an survey</option>
                    <option *ngFor="let groupItem of groupStakeholder"
                            [ngValue]= "groupItem">{{groupItem.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genderRadioOptions" value='Male' [(ngModel)]='stakeholder.gender' [ngModelOptions]="{standalone: true}" (ngModelChange)= "changeValue()">
                    <label class="form-check-label">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="genderRadioOptions" value='Female' [(ngModel)]='stakeholder.gender' [ngModelOptions]="{standalone: true}" (ngModelChange)= "changeValue()">
                    <label class="form-check-label">Female</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" [disabled]="stakeholderForm.invalid || !isEdit" class="btn btn-primary" (click)="onSubmit()">Save</button>
</div>
