<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <div class="d-flex align-items-center">
          <img src="assets/icon/icon-material-issue-analysis.png" height="20" class="mr-1"/>
          <span>Material Issue Analysis</span>
        </div>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link" aria-haspopup="true"
         aria-expanded="false" (click)="sideBarClicked(view.LocationAndIndustry)">
        <span>Location and Industry</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="sideBarClicked(view.StakeholderIssues)">
        <span>Stakeholder/Issue Importance Visuals</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="sideBarClicked(view.MaterialIssueMatrix)">
        <span>Material Issues Matrix</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="sideBarClicked(view.DataDetailsandVariables)">
        <span>Data Details and Variables</span></a>
    </li>
  </ul>
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Material Issue Analysis</a>
        </li>
        <li class="breadcrumb-item active">{{contentOfView}}</li>
      </ol>
      <div [ngSwitch]="contentOfView">
        <ng-template [ngSwitchCase]="view.LocationAndIndustry">
          <app-location-and-industry></app-location-and-industry>
        </ng-template>
        <ng-template [ngSwitchCase]="view.StakeholderIssues">
          <app-chart-page *ngIf="contentOfView==view.StakeholderIssues"></app-chart-page>
        </ng-template>
      </div>
    </div>
  </div>
</div>
