<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-filter"></i>
        Filter
    </div>
    <div class="alert alert-info" role="alert" *ngIf="messageAlert != ''">
        {{messageAlert}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-7">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Group Stakeholder</th>
                        <th>Select</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let group of groups">
                        <td>{{group.id}}</td>
                        <td>{{group.name}}</td>
                        <td><input type="checkbox" name="selectGroup" [defaultChecked]="group.isChecked"
                                   value="{{group.isChecked}}" [(ngModel)]="group.isChecked"
                                   (change)="toggleVisibility(group, $event)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-5">
                <div class="row">
                    <div class="col">
                        <select class="custom-select" [(ngModel)]="chartType" #selectType (ngModelChange)="isApplied = false" id="chartType">
                            <option disabled selected value="null">Select type of chart</option>
                            <option value="horizontalBar">Top Bottom</option>
                            <option value="radar">Radar chart</option>
                            <option value="pie">Pie chart</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="custom-select" [(ngModel)]="quantity" #selectType (ngModelChange)="isApplied = false">
                            <option disabled selected value="null">Select a quantity</option>
                            <option value=10>10</option>
                            <option value=20>20</option>
                            <option value=30>30</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted flex-center">
        <button class="btn btn-primary" [disabled]="selectedGroup.length == 0 || selectType.value == ''" (click)="applyFilter()">Apply</button>
    </div>
</div>
<!-- Area chart-type Example-->
<div [ngSwitch]="chartType" *ngIf="isApplied">
    <ng-template [ngSwitchCase]="'radar'">
        <app-radar-chart
                [groupIDs]="selectedGroup"
                [quantity]="quantity"
                (issuesList)="returnListIssueWithGroup($event)"></app-radar-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'horizontalBar'">
        <app-horizontal-bar-chart [groupIDs]="selectedGroup"
                                  [quantity]="quantity"></app-horizontal-bar-chart>
    </ng-template>
    <ng-template [ngSwitchCase]="'pie'">
        <app-pie-chart [groupIDs]="selectedGroup"
                                  [quantity]="quantity"></app-pie-chart>
    </ng-template>
</div>
<div *ngIf="listIssuesGroup">
  <app-table-issue-importance [data]="listIssuesGroup"></app-table-issue-importance>
</div>

