<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="index.html">
        <i class="fa fa-database"></i>
        <span> Data Management</span>
      </a>
    </li>
    <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false" id="dropdownStakeholder">Stakeholder</a>
        <div class="dropdown-menu" aria-labelledby="dropdownStakeholder">
            <a class="dropdown-item" (click)="sideBarClicked(checkType.ListStakeholer)">Update</a>
            <a class="dropdown-item" (click)="sideBarClicked(checkType.SendSurvey)">Send Survey</a>
        </div>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" (click)="sideBarClicked(checkType.OrganisationInfo)">
        <i class="fas fa-fw fa-pencil-alt"></i>
        <span> Organisation information</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="sideBarClicked(checkType.StakeholderGroups)">
        <i class="fas fa-fw fa-users"></i>
        <span> Stakeholder groups</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="sideBarClicked(checkType.StakeholderSurvey)">
        <i class="fas fa-fw fa-pencil-alt"></i>
        <span> Stakeholder survey</span></a>
    </li>
    <!--<li class="nav-item">
        <a class="nav-link" (click)="sideBarClicked(checkType.Overview)">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Overview</span></a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" (click)="sideBarClicked(checkType.Upload)">
        <fa-icon class="fas fa-fw fa-upload"></fa-icon>
        <span>Upload</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="downloadTemplate()">
        <fa-icon class="fas fa-fw fa-file-download"></fa-icon>
        <span>Download Template</span></a>
    </li>
  </ul>
  <div id="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Data Management</a>
        </li>
        <li class="breadcrumb-item active">{{contentOfView}}</li>
      </ol>
      <app-list-stakeholder *ngIf="contentOfView==checkType.OrganisationInfo"></app-list-stakeholder>
      <app-send-survey *ngIf="contentOfView==checkType.StakeholderSurvey"></app-send-survey>
<!--      <app-chart-page *ngIf="contentOfView==checkType.Overview"></app-chart-page>-->
      <app-upload-file *ngIf="contentOfView==checkType.Upload"></app-upload-file>
    </div>
  </div>
</div>
